/* MEDIA QUERIES

Micro Animations and transitions

*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border: none;
  font-family: "Noto Sans", sans-serif;
  box-sizing: border-box;
}

.main {
  flex-direction: column;
  height: 100vh;
}

.header {
  display: flex;
  align-items: center;
  gap: 30px;
  flex-direction: row;
  padding: 10px 20px;
}

.home-searchBar,
.home-searchBar form,
.header-right-section {
  display: flex;
}

.home-searchBar {
  gap: 10px;
}
.home-searchBar button {
  background-color: black;
  border: none;
}

.searchBar {
  display: flex;
  align-items: center;
  position: relative;
}

.src-input input {
  width: 350px;
  height: 50px;
  font-size: 16px;
  padding-left: 50px;
  border-radius: 25px;
  border-color: #222222;
  color: #ffffff;
}

.src-btn img {
  position: absolute;
  left: 15px;
  top: 20%;
}

.header-right-section {
  display: flex;
  gap: 20px;
  margin-left: auto;
}
.header-right-section button {
  font-size: 16px;
  font-weight: 700;
  color: #c2c2c2;
}

.pipe-spacing p {
  font-size: 30px;
  font-weight: 900;
  padding: 0 20px 10px;
}

.install-btn {
  display: flex;
  justify-content: center;
  align-items: center;

  gap: 8px;
}

#signup-btn {
  font-size: 14px;
  font-weight: 700;
}

.login button {
  text-align: center;
  width: 100px;
  padding: 13px 0;
  font-size: 14px;
  font-weight: 700;
  background-color: white;
  color: black;
  border-radius: 30px;
}

.main-content {
  display: flex;
  flex-direction: row;
  gap: 5px;
  margin-top: 2px;
  height: 80vh;
}

.left-container {
  display: flex;
  width: auto;
  margin-top: 2px;
  flex-direction: column;
}

.main-content-right {
  display: flex;
  margin: 2px 5px;
  width: auto;
}

.left-container {
  flex-direction: column;
}

.library-header {
  display: flex;
  font-weight: 700;
}

.library-header button {
  background-color: #000;
  margin-left: auto;
}

.left-footer {
  flex-direction: column;
  margin-top: auto;
  gap: 20px;
}

.links {
  font-size: 10px;
  display: grid;
  grid-template-columns: 1fr 2fr 2fr;
  gap: 10px;
}

.link-container a {
  text-decoration: none;
  color: inherit;
}

.language-btn {
  flex-direction: row;
  gap: 5px;
  border: solid 1px #c2c2c2;
  border-radius: 30px;
  width: fit-content;
  padding: 8px 15px;
  font-weight: 750;
}

.card-collection {
  flex-direction: row;
  gap: 15px;
  overflow-x: scroll;
  scrollbar-width: none;
  scroll-behavior: smooth;
  width: 75vw;
  margin: 30px;
}

.card-container {
  flex-direction: column;
  width: auto;
  padding: 10px;
  border-radius: 5px;
  scroll-behavior: smooth;
}
.card-container:hover {
  background: #981919;
}

.card {
  width: 170px;
}

.song-cover-img img {
  width: 100%;
  border-radius: 5px;
  object-fit: contain;
}
.play-btn {
  background-color: #1ed760;
  width: 50px;
  height: 50px;
  border-radius: 50px;
  position: relative;
  top: 140px;
  right: 10px;

  transition: all 1s ease-out;
}

.play-btn img {
  position: absolute;
  width: 25px;
  height: auto;
  top: 50%;
  left: 55%;
  transform: translate(-50%, -50%);
  z-index: 1;
}

.song-name {
  margin: 5px 0 10px;
  font-size: 14px;
  font-weight: 500;
}
.artist-name {
  color: #c2c2c2;
  font-size: 13px;
  font-weight: 500;
}

/*playbar*/

.playbar {
  flex-direction: row;
  justify-content: space-between;
  height: 10.5vh;
  width: auto;
  box-sizing: border-box;
  margin: 0 20px;
}

.playbar-left-section {
  align-items: center;
  gap: 15px;
}
.playbar-song-name p:first-child {
  font-size: 14px;
  font-weight: 500;
}

.playbar button {
  background: none;
}

.add-to-btn button {
  background: none;
}

.cover-image-playbar img {
  width: 60px;
  border-radius: 5px;
}

.playbar-middle-section {
  flex-direction: column;
  justify-content: center;
}

.playbar-middle-section-top {
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 30px;
  width: 100%;
}

.play-pause-btn {
  width: 35px;
  height: 35px;
  border-radius: 50%;
  background: white;
  align-items: center;
  position: relative;
}

.shuffle-prev-btn,
.next-repeat-btn {
  display: flex;
  gap: 30px;
}

.play-pause-btn button {
  width: 100%;
  height: 100%;
  border-radius: 50%;
}

.play-pause-btn button img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.playbar-middle-section-bottom {
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 30px;
  width: 550px;
}
.seekbar {
  position: relative;
  width: 100%;
  height: 10px;
  border-radius: 5px;
  cursor: pointer;
}

.circle-seek {
  position: absolute;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background-color: #1ed760;
  top: -2.5px;
  left: 0%;
  cursor: pointer;
  transition: left 0.5s linear;
}

.playbar-right-section {
  position: relative;
  flex-direction: row;
  align-items: center;
  gap: 15px;
}

.progress-bar {
  position: relative;
  width: 100%;
  top: -10%;
}

.volume-container {
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
}
.vol-bar {
  position: relative;
  width: 130px;
  height: 10px;
  background-color: #313131;
  border-radius: 5px;
}
.volume-icon img {
  position: relative;
  top: 2px;
}

.circle-vol {
  position: absolute;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background-color: #1ed760;
  top: -2.5px;
  left: 0%;
  cursor: pointer;
  transition: left 0.3s ease;
}

/*recents-library*/

.recently-played {
  height: 45vh;
  gap: 15px;
  flex-direction: column;
  position: relative;
  overflow-y: scroll;
  scrollbar-width: none;
}

.song-list-recents {
  flex-direction: column;
  gap: 10px;
}

.cover-and-details-recents {
  gap: 10px;
  width: 60%;
}

.recents-song-container {
  flex-direction: row;
  gap: 10px;
  align-items: center;
  justify-content: space-between;
  border-radius: 10px;
  padding: 15px;
}

.song-info-recents {
  padding-top: 5px;
}

.song-name-recents {
  font-size: 14px;
  font-weight: 500;
}

.play-btn-recents {
  background-color: #1ed760;
  width: 40px;
  height: 40px;
  border-radius: 50px;
  position: relative;
}

.play-btn-recents img {
  position: absolute;
  width: 20px;
  height: auto;
  top: 50%;
  left: 52%;
  transform: translate(-50%, -50%);
  z-index: 1;
}

.prev-btn,
.next-btn {
  cursor: pointer;
}
