.flex {
  display: flex;
}

.items-center {
  align-items: center;
}

.justify-center {
  justify-content: center;
}

.bg-black {
  background-color: black;
  color: white;
}
.bg-grey-1 {
  background-color: #222222;
}
.bg-grey-2 {
  background-color: #121212;
}

.m-1 {
  margin: 5px;
}

.p-1 {
  padding: 15px;
}
.p-2 {
  padding: 10px;
}

.border {
  margin: 3px;
  border: solid 2px red;
}
.rounded {
  border-radius: 7px;
}
.invert {
  filter: invert(1);
}

.font-color-1 {
  color: #ffffff;
}

.font-color-2 {
  color: #b3b3b3;
}

.relative-pos {
  position: relative;
}

.absolute-pos {
  position: absolute;
}

.bg-grad {
  background: linear-gradient(
    360deg,
    rgba(0, 0, 0, 1) 0%,
    rgba(34, 34, 34, 1) 100%
  );
}

.bg-grad-2 {
  background: linear-gradient(
    355343deg,
    rgba(18, 18, 18, 1) 0%,
    rgba(34, 34, 34, 1) 100%
  );
}

.ele:hover {
  background-color: red;
}

.hide {
  display: none;
}
.show {
  display: block;
}

.color-bar {
  background-color: #282828;
}

.hover-pointer {
  cursor: pointer;
}
